@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-nav-color: #daac00;
    --main-color: #fcc302;
    --main-secondary-color: #00bec9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* _------ Sec----- */

.activity_sec {
    background-image: url("../images/img-12.png");
    display: flex;
    align-content: center;
}

.activity_sec .card {
    border: none !important;
    background: none;
}

.activity_sec .img_1 {
    width: 10.2rem;
    height: 8.9rem;
}

.activity_sec .img_2 {
    width: 7.5rem;
    height: 8.8rem;
}

.activity_sec .img_3 {
    width: 9rem;
    height: 9rem;
}

.activity_sec .card-title {
    font-size: 4.2rem;
    color: #ffffff;
    font-weight: 500;
}

.activity_sec .card-text {
    font-size: 3.8rem;
    color: #ffffff;
    font-weight: 700;
}

/* media query */
@media only screen and (max-width:1400px) {
    html {
        font-size: 52% !important;
    }
}
@media only screen and (max-width:1200px) {
    html {
        font-size: 50% !important;
    }
    
}
@media only screen and (max-width:998px) {
    html {
        font-size: 48% !important;
    }
}
@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }}


@media only screen and (max-width:500px) {
    html {
        font-size: 35%;
    }
}