@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --main-nav-color: #daac00;
    --main-color: #fcc302;
    --main-secondary-color: #00bec9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* _------Care Sec----- */
footer {
    background-color: #343434;
}

footer h4 {
    font-size: 3.8rem;
    color: #ffffff;
    font-weight: 600;

}

footer li {
    font-size: 2.5rem;
    line-height: 4.4rem;
    color: #ffffff;
    font-weight: 400;
}

footer .sub {
    position: relative;
}

footer h3 {
    font-size:3.8rem;
    line-height:.8rem;
    color: #ffffff;
    font-weight: 600;
    text-align: right;
    margin-bottom: 1.5rem;
}

footer p {
    font-size: 2.5rem;
    line-height: 3.3rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: right;
    margin-bottom: 1.5rem;
}

footer .search {
    width: 50rem;
    height: 7rem;
    position: absolute;
    right: 0px;
    margin-bottom: 1.5rem;
}

.search input {
    background-color: var(--main-color);
    width: 35.6rem;
    border: none !important;
    height: 7rem;
}

.search .sent_btn {
    width: 14.4rem;
    height: 7rem;
    background-color: #00bec9;
    border: none;
}

footer .icon img {
    width: 5rem;
    height: 3.5rem;
    margin: 0 1rem;
}

/* media query */
@media only screen and (max-width:1400px) {
    html {
        font-size: 52% !important;
    }
}
@media only screen and (max-width:1200px) {
    html {
        font-size: 50% !important;
    }
    
}
@media only screen and (max-width:998px) {
    html {
        font-size: 48% !important;
    }
}
@media only screen and (max-width:768px) {
    html {
        font-size: 45%;
    }}




@media only screen and (max-width:991px) {
    footer .sub {
        margin-top: 8rem !important;
    }

    footer h3 {
        text-align: left;
    }

    footer p {
        text-align: left;
    }

    /* footer .search {
        width: 50rem;
        height: 7rem;
        position: absolute;
        left: 0px;
        margin-bottom: 1.5rem;
    } */
    footer .icon_row{
        margin-top: 10rem ;
    }
    footer .icon{
        justify-content: center !important;
    }
}



@media only screen and (max-width:500px) {
    html {
        font-size: 35%;
    }
}